<!DOCTYPE html>
<html lang="en">
<body>
<header>
  <div class="container text-center" data-th-fragment="footer">
    <br>
    <div class="container text-center">
      <p>
        Contact Us <br>
        Phone: <a class= "a" href="tel:PhoneNumberHere">012-345-6789</a><br>
        Email: <a class= "a" href="mailto:EmailAddressHere">
        General - IST440W Group 7</a>
        <br><br><span class="fst-italic">Software Engineered by Forrest Moulin, Philip Canzian, and Jose Casiano<br>
        Copyright © 2022 IST 440W Group 7</span><br><br>
        <a class = "a" data-th-href="@{/showPrivacyPolicy}">Privacy Policy</a>
      </p>
    </div>
  </div>
</header>
</body>
</html>
