<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<label data-th-fragment="states">State
  <input type="text" name="dropdown" list="states" data-th-field="*{state}"
         class="form-control mb-4 col-4" style="text-align:center" size="50"
         placeholder="Select a state from this dropdown">
  <datalist id="states">
    <option value="Alabama - AL">
    <option value="Alaska - AK">
    <option value="Arizona - AZ">
    <option value="Arkansas - AR">
    <option value="California - CA">
    <option value="Colorado - CO">
    <option value="Connecticut - CT">
    <option value="Delaware - DE">
    <option value="Florida - FL">
    <option value="Georgia - GA">
    <option value="Hawaii - HI">
    <option value="Idaho - ID">
    <option value="Illinois - IL">
    <option value="Indiana - IN">
    <option value="Iowa - IA">
    <option value="Kansas - KS">
    <option value="Kentucky - KY">
    <option value="Louisiana - LA">
    <option value="Maine - ME">
    <option value="Maryland - MD">
    <option value="Massachusetts - MA">
    <option value="Michigan - MI">
    <option value="Minnesota - MN">
    <option value="Mississippi - MS">
    <option value="Missouri - MO">
    <option value="Montana - MT">
    <option value="Nebraska - NE">
    <option value="Nevada - NV">
    <option value="New Hampshire - NH">
    <option value="New Jersey - NJ">
    <option value="New Mexico - NM">
    <option value="New York - NY">
    <option value="North Carolina - NC">
    <option value="North Dakota - ND">
    <option value="Ohio - OH">
    <option value="Oklahoma - OK">
    <option value="Oregon - OR">
    <option value="Pennsylvania - PA">
    <option value="Rhode Island - RI">
    <option value="South Carolina - SC">
    <option value="South Dakota - SD">
    <option value="Tennessee - TN">
    <option value="Texas - TX">
    <option value="Utah - UT">
    <option value="Vermont - VT">
    <option value="Virginia - VA">
    <option value="Washington - WA">
    <option value="West Virginia - WV">
    <option value="Wisconsin - WI">
    <option value="Wyoming - WY">
  </datalist>
</label>
<br>
</body>
</html>
