<!DOCTYPE html>
<!-- No longer needed if using data-th syntax: xmlns:th="https://www.thymeleaf.org"-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OWL Marketplace - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
    <link data-th-href="@{/styles/ist440w.css}" rel="stylesheet">
    <link data-th-href="@{/styles/style1.css}" rel="stylesheet">
</head>
<body style="background-color:#a1d6f7;">
<div data-th-replace="common/header :: header"></div>
<div class="container text-center">
    <h1 >On the Web Listing (OWL) Marketplace - Login</h1>
    <!-- Form acts on customer object-->
    <form action="#" data-th-action="@{/customerLogin}" data-th-object="${customer}"
          method="POST" size="30">
        <label for="email">Email</label><br>
        <input class="text-center" type="email" id="email" data-th-field="*{email}" size="50"
               placeholder="Required"  autofocus required><br><br>
        <label for="password">Password</label><br>
        <input class="text-center" type="password" id="password" data-th-field="*{password}" size="50"
               placeholder="Required"  required><br><br>
      <button type="submit" class="btn btn-primary" style="width:18ch;">Login</button><br><br>
      <button id="passwordtextbutton" class="btn btn-secondary" style="width:18ch"
                data-th-onclick="'event.preventDefault();togglePassword()'">
            Show password text
        </button>
    </form>
    <p></p> <!-- Places hyperlinks on separate lines and separates them from button-->
    <a class= "a" data-th-href = "@{/showCustomerLoginForm}">Refresh</a>
    <p></p>
    <a class= "a" data-th-href="@{/showCustomerSignUpForm}">Sign Up</a>
</div>
<div data-th-replace="common/footer :: footer"></div>
</body>
<script type="text/javascript">
    function togglePassword() { // Shows/hides passwords when button is clicked
        if(document.getElementById('password').getAttribute("type") === "password"){
            document.getElementById('password').setAttribute("type", "text");
            document.getElementById('passwordtextbutton').innerText = "Hide password text";
        }
        else {
            document.getElementById('password').setAttribute("type", "password");
            document.getElementById('passwordtextbutton').innerText = "Show password text";
        }
    }
</script>
</html>
