<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OWL Marketplace - Privacy Policy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
    <link data-th-href="@{/styles/ist440w.css}" rel="stylesheet">
    <link data-th-href="@{/styles/style1.css}" rel="stylesheet">
</head>
<body style="background-color:#a1d6f7;">
<div data-th-replace="common/header :: header"></div>
<div class="container text-center">
    <h1>On the Web Listing (OWL) Marketplace</h1>
    <h2 style="font-size:24px">Privacy Policy - November 2022</h2>
    <br> <!-- Spacing -->
  <div style="display:inline-block">
  <span style="font-size:20px;font-style:italic">
    Voluntary Use & Privacy Notification
    <br>
  </span>
    <span style="font-size:16px">
    The web application can be used without revealing data. You may be asked to provide<br>
    personal information such as your name, email address, and physical address so that<br>
    we can build your account profile and maintain relevant data. OWL Marketplace will <br>
    never sell, share, or exchange your personal data. In the event that your data is <br>
    requested by law enforcement, we will comply under the jurisdiction of the law.
    <br><br>
  </span>

    <span style="font-size:20px;font-style:italic">
    EU General Data Protection Regulation (GDPR)
    <br>
  </span>
    <span style="font-size:16px">
    General Data Protection Regulation (GDPR) is a privacy and security law enacted<br>
    by the European Union (EU) in 2018. The GDPR provides European Union residents <br>
    with safeguards based on 7 principles of data protection and 8 privacy rights.<br>
    According to the statute, any organization that processes personal data of people<br>
    in the EU is compelled to comply with the regulations, which include the <br>
    implementation of "data protection by design and by default".
    <br><br>
    If you are a European Union resident, in some circumstances you may have the right<br>
    to access your personal information, make corrections, restrict processing of your<br>
    information, and object to certain marketing communications or data profiles. As per<br>
    the GDPR, EU residents are entitled to file complaints with either a regional or a <br>
    national data protection authority.
    <br><br>
    OWL Marketplace app data is stored in the United States via an Azure MySQL database.<br>
    In providing your personal information to OWL Marketplace, you consent to storage <br>
    of personal data within the United States.
    <br><br>
    NOTE: European Economic Area (EEA) has separate jurisdiction from the United States.
    <br><br>
    For information about General Data Protection Regulation (GDPR), please visit:<br>
    <a class = "a" href="https://gdpr.eu" target="_blank">https://gdpr.eu</a>
    <br><br>
  </span>

    <span style="font-size:20px;font-style:italic;text-align:left">
    MIT License and SRC Details
    <br>
    </span>
    <span style="font-size:16px;text-align:left">
    Copyright (c) 2022 Forrest Moulin, Jose Casiano, Philip Canzian<br>
    Permission is hereby granted, free of charge, to any person obtaining a copy<br>
    of this software and associated documentation files (the "Software"), to deal<br>
    in the Software without restriction, including without limitation the rights<br>
    to use, copy, modify, merge, publish, distribute, sublicense, and/or sell<br>
    copies of the Software, and to permit persons to whom the Software is<br>
    furnished to do so, subject to the following conditions:<br>
    The above copyright notice and this permission notice shall be<br>
    included in all copies or substantial portions of the Software.<br><br>
    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR<br>
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,<br>
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE<br>
    AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER<br>
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,<br>
    OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN<br>
    THE SOFTWARE.<br><br>
    To access the source code for this project, please go to the GitHub repository: <br>
    <a href="https://github.com/ffm5113/java-spring-tl-owl-marketplace" class = "a" target="_blank">
      Owl Marketplace Web Application Repository
    </a>
    <br><br>
  </span>
  </div>
</div>

<div data-th-replace="common/footer :: footer"></div>
</body>
</html>
